
/* css */

.bg{
    background-color: khaki;
}

/*
.bg:hover{

    background-color: red;
    background-image: url("https://i.natgeofe.com/n/87d0e2f0-4583-4f6c-8a31-1766d41725a8/plastic-waste-single-use-worldwide-consumption-art-4a.jpg"); 
}
*/

.swoosh{
    background-image: url("../img/blackswooshx.png");
    width: 600px;
    height: 500px;
    margin: 0px auto;
}

.swoosh:hover {
    background-image: url("../img/whiteswooshx.png");
    background-color: black;
    width: 575px;
    height: 500px;
    transform: scale(0.75,0.75);
    margin: 0px auto;
} 

/* 
.tagline{
    background-image: url("../img/justdoit.png");
    width: 600px;
    height: 600px;
    transform:scale(0.75,0.75);
    margin: auto;
} */

/* .white{
    sposition: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -75%) rotate(-2.1deg); 
} */

.subverttext{
    position: absolute;
    top: 44%;
    left: 34%;
    color: black;
    font-family:'Klein Condensed Trial', sans-serif;
    font-size: 55px; 
    font-style:normal; 
    font-variant:normal;
    font-weight:bolder; 

    transform: scale(0.90,1.2);
} 
